*{
    margin: 0;
    padding: 0;
}
body{
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
button{
    background-color: cyan;
    border: 2px solid cyan;
    text-align: center;
}